@import '_setup';
@import '_var';
@import '_global';

header.main__header {
	background-image: url('../../assets/3.jpg');
	background-size: cover;
	height: 90vh;
}

header.main__header {
	padding: 40px;
	color: white;
	text-align: center;
		h1 {
			font-size: 90px;
			color: black;
			font-weight: 700;
			letter-spacing: 0.08em;
		}
}

.main__container {
	display: flex;
}

aside.palette {
	padding: 20px;
}


/* SLIDER GALLERY */

.carousel__outer {
  display: flex;
  justify-content: center;
}

// .carousel__card {
//   padding: 60px 120px;
// }

.card__hidden {
  display: none; 
}

.pagination {
	display: flex;
	justify-content: center;
}

// .previous__container,
// .next__container {
//   display: flex;
//   align-items: center;
// }

.previous__container i,
.next__container i {
  color: black;
  margin: 0 20px;
}
